{{#if songs}}

  <table class="ui striped table">
    <thead>
      <tr>
        <th class="four wide">Song</th>
        <th class="four wide">Artist</th>
        <th class="four wide">Genre</th>
        <th class="four wide">Duration</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      
      {{#each songs}}
      
        {{> listOneSong playlistId=../id}}
        {{> editsong playlistId=../id}}
                
      
        <script>
          $(document).ready(function(){
            $("#showEdit{{@index}}").click(function(){
              $("#song{{@index}}").hide();
              $("#edit{{@index}}").show();
            });
            $("#hideEdit{{@index}}").click(function(){
              $("#song{{@index}}").show();
              $("#edit{{@index}}").hide();
            });
          });
        </script>
      {{/each}}
    
    </tbody>
  </table>

{{else}}
  <h3 class="ui message">
    Empty playlist!
  </h3>

{{/if}}