{{#if singlePlaylist.songs}}

  <table class="ui fixed striped table">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      {{#each singlePlaylist.songs}}
        <tr>
          <td>
            {{capitalise title}}
          </td>
          <td>
            {{capitalise artist}}
          </td>
          <td>
            {{capitalise genre}}
          </td>
          <td>
            {{duration}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <h3 class="ui message">
    Empty playlist!
  </h3>

{{/if}}